<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Properties.Settings>
            <setting name="AppCloseAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarnOnNonRecommended" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHotkey" serializeAs="String">
                <value>Alt+Z</value>
            </setting>
            <setting name="HideHotKey" serializeAs="String">
                <value>Alt+X</value>
            </setting>
            <setting name="KillHotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RememberProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideCurrent" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="HideWhenScreenSaverActivates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value/>
            </setting>
        </Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
